trigger:
  branches:
    include: [main, test-me-*]
  tags:
    include: ['*']

resources:
  repositories:
    - repository: asottile
      type: github
      endpoint: github
      name: asottile/azure-pipeline-templates
      ref: refs/tags/v2.4.0

jobs:
- template: job--go-test.yml@asottile
  parameters:
    go_versions: ['1.16.8', '1.17.1']
    os: linux
    tests: '.'  # only test the top level
- template: job--python-tox.yml@asottile
  parameters:
    toxenvs: [py37]
    os: macos
    wheel_tags: true
    pre_test:
    - task: GoTool@0
      inputs:
        version: '1.17.1'
- template: job--python-tox.yml@asottile
  parameters:
    toxenvs: [py37]
    os: linux
    name_postfix: _go_1_16
    pre_test:
    - task: GoTool@0
      inputs:
        version: '1.16.8'
- template: job--python-tox.yml@asottile
  parameters:
    toxenvs: [py37, py38, py39, py310]
    os: linux
    name_postfix: _go_1_17
    pre_test:
    - task: GoTool@0
      inputs:
        version: '1.17.1'
